
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   
</head>

<body style="background-image: url(../images/im2.jpg); height: 100%; width: 100%; ">
    <div>
        
            <section id="home">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                           
                                <h1 style="color: white;font-family:'Times New Roman, Georgia, Serif';font-size:80px ;text-align:center; margin-top:500px " >BANK WEBSITE</h1>
                                
                            <center><button type="button" class="btn btn-danger"  onclick="location.href='@Url.Action("Login", "Bank")'">Start Here</button></center>

    
</div>
                    </div>
                </div>
            </section>
       
        
    </div>
</body>
</html>
